
@font-face {
    font-family: 'Jetbrains Mono';
	font-display: swap;
	font-style: normal;
    src:
		local('Jetbrains Mono'),
		local('Jetbrains Mono Regular'),
		url('font/JetBrainsMono-Regular.woff2') format('woff2');
}

:root {
	--background: #050505;
	--f_high: #fff;
	--f_med: #fff;
	--f_low: #fff;
	--f_inv: #000;
	--b_high: #000;
	--b_med: #000;
	--b_low: #000;
	--b_inv: #fff;
}

html {
	
}

body {
	
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;

	font-family: 'Jetbrains Mono';
	font-size: 13px;

	background: var(--background);
	color: var(--f_med);
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

input, button {
	font-family: 'Jetbrains Mono';
	font-size: 13px;
	background: none;
	border: none;
	outline: none;
}

button {
	position: relative;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: baseline;
	text-align: center;
	user-select: none;
	overflow: visible;
	outline: none;
	cursor: pointer;

	font-size: 13px;
	font-weight: 500;

	min-width: 48px;
	line-height: 32px;
	padding: 0 16px;

	box-shadow:
		0 3px 1px -2px rgba(0,0,0,.2),
		0 2px 2px 0 rgba(0,0,0,.14),
		0 1px 5px 0 rgba(0,0,0,.12);

	-webkit-tap-highlight-color: transparent;
	border-radius: 4px;
	border: 1px solid #505050;
	background-repeat: repeat-x;
	background-image: linear-gradient(-180deg, #0a0a0a 0%, #050505 90%);
	color: #505050;
}
button:hover {
	color: #707070;
	background: #0f0f0f;
}

input {
	padding: 8px 16px;
	text-align: center;
	
}
input::selection {
	background: var(--background);
	color: var(--f_med);
	mix-blend-mode: exclusion;
}

.husl {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.husl .palette {
	display: flex;
}
.husl .control {
	position: relative;
	top: 12px;
	display: flex;
	justify-content: center;
	width: 100%;
}
.husl .control button {
	width: 100%;
	margin: 0 8px;
}

footer {
	display: none;
}
